@media screen and (min-width: 320px) and (max-width: 700px) {


    html {
        height: 100%;
        box-sizing: border-box;

    }

    body {
        min-height: 100%;
        font-family: "Segoe UI";
        margin: 0px;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
    }

    a {
        text-decoration: none;

    }

    img {
        display: block;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

/*
    .navbar {
        background-color: #000000;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 68px;
    }

    .menuicon {
        display: block;
    }
*/

    .navContainer {
        width: 100%;
        height: 68px;
        padding: 9px 10px;
        vertical-align: baseline;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }



    .navLink {
        display: none;
    }

    .navContainer > a {
        color: #ffffff;
        font-size: 14px;
        padding: 10px 18px;
    }

    .navContainer > a.active {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;

    }

    .headerBox {
        width: 100%;
        height: 100%;
        background-color: #333333;
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px ;
    }

    .headerConWrap {
        display: flex;
        flex-direction: column-reverse;
        

    }

    .headerContent {
        width: 100%;
        padding: 20px 20px;
    }

    .headtxt1,
    .headtxt2,
    .headtxt3 {
        color: #fff;
    }

    .headtxt1 {
        margin-bottom: 31px;
    }

    .headtxt2 {
        margin-bottom: 17px;
    }

    .headtxt3 {
        margin-bottom: 33px;
    }

    .buyBttn {
        width: 98px;
        height: 44px;
        color: #ffffff;
        font-weight: bold;
        border-radius: 8px;
        background-color: #DA2173;
        border: 0px;
    }

    .headerImgBox {
        width: 100%;
        
        margin-right: 0px
    }

    .headerImg {
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 50% 50%;
        zoom: 1.4;
        
    }

    .titleSec {
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0px;
    }

    .titleBox {
        color: #fff;
        padding: 0px 20px;

    }

    .tTitle {
        text-align: center;
        margin-bottom: 40px;

    }

    .tContent {
        text-align: center;
    }


    .mainContent {
        width: 100%;
        background-color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aLWrap {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .ambiantImgBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 165px;
    }

    .ambiantImg {
        margin: 25px 0px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .aLCompare {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 500px;
        background-image: url(../img/compare.jpg);
        background-position: 50% 15%;
        background-repeat: no-repeat;
    }

    .rScreen,
    .aLScreen {
        width: 100%;
        height: 500px;
        text-align: center;
    }

    .rScreen {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .compareTxt {
        padding-top: 100px;
        color: #fff;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: black;
    }

    .cTxt {}

    hr {
        width: 75%;
        border-width: 1px;
        border-style: solid;
        margin-top: 22px;
        color: #4f4f4f;
    }

    .nanoEngWrap {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;


    }

    .nanoEngBox {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 13px;
    }

    .nanoEngTextBox {
        padding: 0px 20px 0px 20px;
        display: flex;
        align-items: center;

    }



    .nETitle,
    .nEContent {
        color: #ffffff;
    }

    .nETitle {
        margin-bottom: 34px;
        text-align: center;
    }


    .nanoEngText > h4 {
        margin-bottom: 34px;
    }

    .nanoLensWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 105px;
    }

    /*
.nanoLensBox {
    width: 100%;
    height: auto;
}*/

    .nanoLens {

        width: 100%;
        object-fit: cover;
        object-position: center;

    }

    .sectionBox2 {
        width: 100%;
        height: auto;
        padding: 38px 0px 68px 0px;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .secB2Con {
        max-width: 969px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .tSContentBox {
        padding: 20px 20px 0px 20px;

    }

    .tsTitle {
        margin-bottom: 39px;
        text-align: center;
    }

    .sectionBox3 {
        width: 100%;
        background-color: #333333;
        padding: 27px 10px 147px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #fff;
    }

    .section3Con {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .sec3ContentBox {
        width: 100%;
        padding: 59px 20px 0px 20px;

        /*
    max-width: 660px;
    padding-top: 59px;
    margin-left: 59px;
    margin-right: 123px;
*/
        /*  padding: 59px 123px 0px 59px;  */
    }

    .sec3Title {
        text-align: center;
        margin-bottom: 36px;
    }

    .sec3ImgBox {
        width: 100%;
    }

    .sec3Img {
        width: 100%;
        object-fit: contain;

    }

    .sectionBox4 {
        width: 100%;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 121px 20px 106px 20px;
    }

    .section4Con {


        /*    margin: 121px 0px 106px 113px;*/
    }

    .sec4ContentBox {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .sec4Content {
        width: 100%;
        color: #ffffff;
        margin-right: 0px;

    }

    .sec4Title {
        margin-top: 30px;
        margin-bottom: 16px;
    }

    .sec4Descrp {
        margin-bottom: 52px;
    }

    .sec4ImgBox {
        width: 100%;

    }

    .sec4Img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .sectionBox5 {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #333333;

    }

    .section5Con {
        width: 100%;
        padding: 103px 20px 127px 20px;
        /*    margin: 453px 97px 127px 119px;*/
    }

    .sec5ImgBox {
        max-width: 837px;
        /*    margin: 0px 200px 0px 112px;*/

    }

    .sc5Img {
        width: 100%;
        object-fit: contain;
        object-position: center;

    }

    .sec5ContentBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 100%;
    }

    .sec5Content {
        max-width: 658px;
        padding: 40px 20px;

    }

    .sec5Title {
        text-align: center;
        margin-bottom: 38px;
    }

    .sec6ContentBox {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 116px;
        width: 100%;
    }

    .sec6Title {
        text-align: center;
        margin-bottom: 34px;
    }

    .sec6Content {
        color: #ffffff;
        width: 100%;
        padding: 40px 20px;

    }

    .sec6ImgBox {
        max-width: 690px;
        height: auto;
    }

    .sec6Img {
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    .sectionBox7 {
        width: 100%;
        background-color: #1f1f1f;
    }

    .sec7ContentBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

    }

    .sec7ImgBox {
        width: 100%;
        height:350px;
    }

    .sec7Img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }

    .sec7Content {
        color: #ffffff;
        padding: 30px 20px;
        width: 100%;
    }

    .sec7title {
        text-align: center;
        margin-bottom: 16px;
    }

    .sec7title2 {
        text-align: center;
        margin: 46px 0px 16px 0px;
    }

    .sectionBox8 {
        width: 100%;


    }

    .sec8Img {
        display: block;
        height: 500px;
        object-fit: cover;

    }



    .footerNavbar {
        background-image: linear-gradient(to right, rgba(92, 148, 207), rgba(82, 48, 122));
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 103px;
        padding-right: 0px;
        display: none;
    }

    .footerNavContainer {
        /*    width: 614px;*/
        height: 68px;
        padding: 9px 0px;
        vertical-align: baseline;
        display: flex;

        align-items: center;
    }

    .footerNavContainer > a {
        color: #ffffff;
        font-size: 13px;
        padding: 10px 7px;
    }

    .TMark {
        background-color: #000000;
        color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 13px 0px;
    }






}

.tSImgBox {}

.tsHeader {
    text-align: center;
}
